<!-- title -->
{% set title = "수정 페이지" %}

<!-- 베이스가 되는 html 파일 불러오기  -->
{% extends "layout/base.html" %} {%block content%}
<form action="/edit?_method=PUT" method="POST">
	<table class="table table-bordered">
		<tr>
			<th>이름</th>
			<td>
				<input
					value="{{list.user_name}}"
					type="text"
					name="name"
					class="form-control"
				/>
			</td>
		</tr>
		<tr>
			<th>전화번호</th>
			<td>
				<input
					value="{{list.user_number}}"
					type="text"
					name="phone_number"
					class="form-control"
				/>
			</td>
		</tr>
		<tr>
			<th>아이디</th>
			<td>
				<input
					value="{{list.user_id}}"
					type="text"
					name="user_id"
					class="form-control"
				/>
			</td>
		</tr>
	</table>
	<input
		value="{{ list._id }}"
		name="edit_id"
		type="text"
		style="display: none"
	/>
	<button class="btn btn-primary" type="submit">수정하기</button>
</form>

{% endblock %}
