<!-- title -->
{% set title = "리스트" %}

<!-- 베이스가 되는 html 파일 불러오기  -->
{% extends "layout/base.html" %}

<!-- 베이스 파일 내부의 content 작성 -->
{% block content %}

<table class="table table-bordered table-hover" >
  <tr>
    <th> 번호 </th>
    <th> 이름 </th>
    <th> 전화번호 </th>
    <th> 아이디 </th>
    <th> 삭제 </th>
  </tr>
  {% for list in lists %}
    <tr>
      <td> {{ list._id }} </td>
      <td> {{ list.user_name }} </td>
      <td> {{ list.user_number }} </td>
      <td> {{ list.user_id }} </td>
      <td> <button class="btn btn-danger delete" data-id= "{{ list._id }}" > 삭제 </button></td>
    </tr>
    
  {% endfor%}
  
</table>

<a href="/admin/lists/write" class="btn btn-primary">
  추가하기
</a>

{% endblock %}

<!-- {% block script %}
  <script>
    $(".delete").onClick = (e) => {
      const index = e.target.dataset.id;

      $.ajax({
        method: "DELETE",
        url: "/delete",
        data: {_id : index}
      }).done((result) => {
        console.log("aaaaaaaaaaaaaaaaaa")
        $(this).parent("tr").fadeOut();
      }).fail((result) => {
        console.log("bbbbbbbbbbbbbbbbbb")
      })
    }
  </script>
{% endblock %} -->


