<!-- title -->
{% set title = "리스트" %}

<!-- 베이스가 되는 html 파일 불러오기  -->
{% extends "layout/base.html" %}

<!-- 베이스 파일 내부의 content 작성 -->
{% block content %}

<table class="table table-bordered table-hover">
	<tr>
		<th>번호</th>
		<th>이름</th>
		<th>전화번호</th>
		<th>아이디</th>
		<th>삭제</th>
	</tr>
	{% for list in lists %}
	<tr>
		<td>{{ list._id }}</td>
		<td>{{ list.user_name }}</td>
		<td>{{ list.user_number }}</td>
		<td>{{ list.user_id }}</td>
		<td>
			<form action="/delete" method="post">
        <!-- 
          Jquery로 delete class를 가진 버튼을 클릭하는 스크립트가 안먹힘..
          input elem에 value값을 _id 값으로 지정하여 
          클릭(...post("/delete")로 submit 요청)할 때 데이터의 _id와 input의 _id값 비교하여 삭제 구현
         -->
        <input type="text" name="_id" value="{{list._id}}" style="display:none">
        
        <button class="btn btn-default update" data-id="{{ list._id }}">
          수정
        </button>
        <button class="btn btn-danger delete" type="submit" data-id="{{ list._id }}">
          삭제
        </button>
      </form>
		</td>
	</tr>
	{% endfor%}
</table>

<a href="/admin/lists/write" class="btn btn-primary"> 추가하기 </a>

{% endblock %}